body {
  background-color: #33adff;
}
img {
  justify-self: center;
  width: 600px;
  padding: 50px 50px 50px 20px;
}
button {
  font-size: large;
  cursor: pointer;
  color: red;
}

#container {
  justify-self: center;
  viewport-fit: 400px;
  max-height: 450px ;
  padding: 20px, 20px;
}
h2 {
  color: white;
}

.btn {
  font-size: large;
  cursor: pointer;
  color: red;
}

#storyShowing {
  display: hide;
  color: white;
  font-size: 18px;
  padding: 50px 80px;
}


