body {
  background-color: #33adff;
}
img {
  justify-self: center;
  width: 600px;
  padding: 50px 50px 50px 50px;
}
p {
  font-size: large;
  cursor: pointer;
  color: red;
}

.questions {
  max-width: fit-content;
  max-height: fit-content;
  padding: 50px, 50px, 50px, 50px;
}
#story {
  color: white;
  font-size: 18px;
  padding: 50px 80px 50px 80px;
}


